#overlay {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  background-color: rgba(84,84,84,0.5);
}

#overlay div {
  width: 500px;
  height: 400px;
  margin: 100px auto;
  background-color: white;
  border: solid 1px black;
}

#overlay div p{
  font-size: 16pt;
  margin-right: 20px;
  margin-top: 10px;
  float: right;
}

#overlay div p a{
  text-decoration: none;
  color: rgb(84, 84, 84);
}
